<mat-card>
    <mat-card-title>Novo Fornecedor</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome Fantasia" [(ngModel)]="fornecedor.forNomeFantasia" name="forNomeFantasia">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CNPJ" [(ngModel)]="fornecedor.forCnpj" name="forCnpj">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Razão Social" [(ngModel)]="fornecedor.forRazaoSocial" name="forRazaoSocial">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rua" [(ngModel)]="fornecedor.endRua" name="endRua">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Número" [(ngModel)]="fornecedor.endNumero" name="endNumero">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade" [(ngModel)]="fornecedor.endCidade" name="endCidade">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CEP" [(ngModel)]="fornecedor.endCep" name="endCep">
        </mat-form-field>
         <mat-form-field>
            <input matInput placeholder="Estado" [(ngModel)]="fornecedor.endEstado" name="endEstado">
        </mat-form-field>
         <mat-form-field>
            <input matInput placeholder="Celular" [(ngModel)]="fornecedor.conCelular" name="conCelular">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone Comercial" [(ngModel)]="fornecedor.conTelefoneComercial" name="conTelefoneComercial">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="fornecedor.conEmail" name="conEmail">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createFornecedor()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>